        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Fast, Secure, and Scalable Dataplane
            </h1>
            <h3 class="title-text">
                Specializing in high-security data plane solutions for data-driven workflows and applications.
            </h3>
            <div class="product">
	      <a href="#infinitree"><img width="100pt" height="150pt" src="infinitree-logo.svg"/></a>
	      <a href="#infinitree"><h3>Infinitree</h3></a>
	      <p class="text">Embedded, encrypted, 3-tier database. Written in Rust.</p>
	      <p>
                <a class="github-button" href="https://github.com/symmetree-labs/infinitree" data-size="large" data-show-count="true"
                   aria-label="Star infinitree on GitHub">Star</a>
                <a class="github-button" href="https://github.com/symmetree-labs/infinitree/fork" data-size="large"
                   data-show-count="true" aria-label="Fork infinitree on GitHub">Fork</a>
		</p>

	      <p>
		<a href="https://crates.io/crate/infinitree"><img src="https://img.shields.io/crates/v/infinitree.svg"></a>
		<a href="https://docs.rs/infinitree"><img src="https://docs.rs/infinitree/badge.svg"></a>
		</p>
            </div>
            <div class="product">
	      <a href="#zerostash"><img width="100pt" height="150pt" src="zerostash-logo.svg"/></a>
	      <a href="#zerostash"><h3>Zerostash</h3></a>
	      <p class="text">Zero-knowledge incremental backups for the impatient</p>
	      <p>
                <a class="github-button" href="https://github.com/symmetree-labs/zerostash" data-size="large" data-show-count="true"
                   aria-label="Star infinitree on GitHub">Star</a>
                <a class="github-button" href="https://github.com/symmetree-labs/zerostash/fork" data-size="large"
                   data-show-count="true" aria-label="Fork infinitree on GitHub">Fork</a>

              </p>
	      <p>
		<a href="https://docs.rs/zerostash"><img src="https://docs.rs/zerostash/badge.svg"></a>
              </p>
            </div>
            <div class="product">
	      <img width="100pt" height="150pt" src="solutions-logo.svg"/>
	      <h3>Custom solutions.</h3>
	      <p class="text">Work with us to solve your time series, MLOps, backup, and data warehousing challenges!</p>
	      <p id="request-call"  class="text">
    <a href="mailto:hello@symmetree.dev?subject=Call%20request&body=I%20kindly%20request%20a%20call.%0A%0AMy%20contact%20information%20is:%0A%0AName:%0ACompany:%0APhone%20number%20or%20online%20meeting%20link:">Request a call</a>
	      </p>
            </div>
        </section>
