{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<a href="{{ section.permalink }}">
    <div class="logo">
        <div alt="logo"></div>
    </div>
</a>

<nav>
    {% for page in section.pages %}
    <a class="nav-item subtitle-text" href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}
    {% if config.extra.juice_extra_menu %}
        {% for menu in config.extra.juice_extra_menu %}
        <a class="nav-item subtitle-text" href="{{ menu.link }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}

    <a id="blog" class="nav-item" href="/blog">Blog</a>

    <a class="nav-item"  href="{{ get_url(path="atom.xml", trailing_slash=false) }}"><img class="item filter-invert" src="/rss.svg" alt="RSS feed" title="RSS feed"></a>
    <a class="nav-item"  href="https://github.com/symmetree-labs/"><img class="item" src="/github.png" title="All the code" alt="GitHub"></a>
    <a class="nav-item"  href="mailto:hello@symmetree.dev?subject=Hello!&body=I%20am%20getting%20in%20touch%20to%20discuss%20the%20life,%20the%20universe,%20and%20everything..."><img class="item filter-invert" src="/email.svg" alt="Get in touch!" title="Email us!"></a>
</nav>
{% endmacro render_header %}
