<style>
    :root {
        /* Primary theme color */
        --primary-color: #2F2FF4;
        /* Primary theme text color */
        --primary-text-color: #232246;
        /* Primary theme link color */
        --primary-link-color: #CA2A4C;
        /* Secondary color: the background body color */
        --secondary-color: #ECF0F1;
        --secondary-text-color: #2F2FF4;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
	--hero-background-color: #ECF0F1; 
	--hero-text-color: #232246; 
    }
</style>
