@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
}

ul > li {
  padding: 0.3rem 0;
}

p > img {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--hero-text-color);
  color: var(--hero-background-color);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  font-family: "Poppins", serif;
  font-size: 32px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 0;
  padding: 0;

  div {
    background-image: url("symmetree.labs.png");
    background-size: cover;
    height: 75px;
    width: 205px;
    margin: 10px 0;
    padding: 0;
  }
}

nav {
    vertical-align: middle;

    img.item {
	width: 32px;
	height: 32px;

	img {
	    width: 32px;
	    height: 32px;
	}
    }

  #request-call {
      color: var(--hero-background-color);
      border: 1px solid;
      border-radius: 5px;
      padding: 16px;
      font-family: "Poppins", serif;
      text-transform: uppercase;
  }
  

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  color: var(--hero-background-color);
      font-family: "Poppins", serif;
      text-transform: uppercase;
      display: table-cell;
      padding: 1em;

  &:hover {
      filter: invert(50%);
  }
}
}

.filter-invert {
    filter: invert(100%);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  /* overflow-x: hidden; */
  padding-top: 2.6em;
  padding-bottom: 6.6em;

  h1, h2, h3, .title-text, .subtitle-text, .text, .subtext {
      color: var(--hero-text-color);
      border-color: transparent;
  }

h3  {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--hero-text-color);
}

  .product {
  .title-text, .subtitle-text, .text, .subtext {
      color: var(--hero-text-color);
      border-color: transparent;
  }
h1, h2, h3 {
  color: var(--secondary-text-color);
}

  #request-call {
      margin-top: 2.3em;
      a{ 
      color: var(--hero-text-color);
      border: 1px solid;
      border-radius: 5px;
      padding: 16px;
      font-family: "Poppins", serif;
      text-transform: uppercase;
  &:hover {
      color: var(--secondary-text-color);
  }
      }
  }
  

      color: var(--primary-text-color);
      margin-top: 42pt;
      margin-left: 3%;
      width: 30%;
      float: left;
  }
  
}

main {
  display: flex;
  padding: 50px 100px;
  justify-content: center;

  .pull-left {
      justify-content: left;
      text-align: left;
  }
  .pull-right {
      justify-content: right;
      text-align: right;
  }
  .button {
      margin-top: 2.3em;
      a{ 
      color: var(--hero-text-color);
      border: 1px solid;
      border-radius: 5px;
      padding: 16px;
      font-family: "Poppins", serif;
      text-transform: uppercase;
  &:hover {
      color: var(--secondary-text-color);
      text-decoration: none;
  }
      }
  }
  
  p {
      margin-top: 1.9em;
      margin-bottom: 1em;
  }

  .float-right {
      float: right;
  }

  .float-left {
      float: left;
  }

  .w-25 {
      width: 25%;
  }

  .w-33 {
      width: 33%;
  }

  .w-50 {
      width: 50%;
  }

  .w-66 {
      width: 66%;
  }

  .p-10 {
      padding: 0 10%;
  }

  .m-paragraph {
      margin: 2.3em 0;
  }

  .content {
      max-width: 800px;
  }

  .centered {
      margin-left: auto;
      margin-right: auto;
  }

  .toc {
    max-width: 260px;
    min-width: 240px;
  }

  .toc-item {
    padding: 10px 20px;
    color: #424242;
  }

  .toc-item a, .toc-item-child a {
    color: var(--secondary-text-color);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .toc-item a.active, .toc-item-child a.active {
    color: var(--toc-highlight-text-color);
  }

  .toc-item-child {
    padding: 0 30px 5px;
    color: #424242;
  }

}

.toc-sticky {
  border-radius: 3px;
  border-top: 5px solid var(--primary-color);
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 10px;
  padding: 10px 0;
}

footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fcfcfc;

  a {
    color: #fcfcfc;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 60%;
    min-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 123px 30px;
  }

  main {
    padding: 30px;
  }

  .content {
    padding: 0;
  }

  .explore-more, .toc {
    display: none;
  }
}
